.auth-page {
  height: 100vh;
  width: 100vw;
}

.steam-login {
  width: 200px;
  box-sizing: content-box;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.steam-login:hover {
  width: 200px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
