<div fxLayout="column" fxLayout="column" fxLayoutAlign="center center">
  <app-no-selection *ngIf="!(difficultySelected$ | async)"></app-no-selection>

  <app-difficulty-selector></app-difficulty-selector>
</div>
