<ng-container *transloco="let t; read: 'dashboard.lobbies.list'">
  <app-no-lobbies *ngIf="!lobbies.length; elseBlock"></app-no-lobbies>

  <mat-accordion fxLayout="column" #elseBloock>
    <mat-expansion-panel *ngFor="let lobby of lobbies">
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title fxFlex>
          <b>{{ lobby.name }} </b> &nbsp;
        </mat-panel-title>

        <mat-panel-description fxFlex>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <div>
              <b>{{ t('statistics.region') }}:&nbsp;</b>
              {{ lobby.region | region }}
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div>
              <b>{{ t('statistics.capacity') }}:&nbsp;</b>
              {{ lobby.users.length }} /
              {{ lobby.maxPlayers }}
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div>
              <b>{{ t('statistics.roles') }}:&nbsp;</b>
              <app-role-image
                *ngFor="let user of lobby.users"
                [role]="user.role"
              ></app-role-image>
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-users-list [users]="lobby.users"></app-users-list>
      </ng-template>

      <mat-action-row>
        <button
          mat-flat-button
          color="accent"
          (click)="onLobbyJoin.emit(lobby.id)"
        >
          {{ t('buttons.join') }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
