@use '@angular/material' as mat;

@mixin gah-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-form-field.mat-focused {
    .mat-form-field-ripple,
    .mat-form-field-label {
      color: mat.get-color-from-palette($accent, default-contrast);
    }
  }
}
