@use '@angular/material' as mat;

$gah-dark-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$gah-dark-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$gah-dark-warn: mat.define-palette(mat.$red-palette, 500);

$gah-dark-theme: mat.define-dark-theme(
  $gah-dark-primary,
  $gah-dark-accent,
  $gah-dark-warn
);
