<ng-container *transloco="let t">
  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="no-selection-text">
      {{ t('dashboard.difficulty.selection.title') }}
    </div>
  </div>
</ng-container>
