@use '@angular/material' as mat;

@mixin gah-dashboard-no-selection-component-theme($theme) {
  $accent: map-get($theme, accent);

  .container {
    .no-selection-text {
      color: mat.get-color-from-palette($accent);
    }
  }
}
