<ng-container *transloco="let t; read: 'dashboard.modals.settings'">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <div fxLayout="column" fxLayoutGap="15px">
    <div mat-dialog-content fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>

        <mat-select
          [value]="activeLanguage"
          (selectionChange)="translocoService.setActiveLang($event.value)"
        >
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{ language.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions fxLayout="column">
      <button mat-flat-button color="warn" class="full-width">Logout</button>
    </div>
  </div>
</ng-container>
