<div class="dashboard-page" fxLayout="column" fxLayoutAlign="center center">
  <app-difficulty-topbar></app-difficulty-topbar>
  <router-outlet></router-outlet>
</div>

<button class="settings" mat-mini-fab color="accent" (click)="openSettings()">
  <mat-icon>settings</mat-icon>
</button>
