@use '@angular/material' as mat;

@mixin gah-dashboard-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .dashboard-page {
    background-color: mat.get-color-from-palette($primary, darker);
  }
}
