$height: var(--difficulti-size);
$width: var(--difficulti-size);
$scale: 0.65;
$active-border-width: 8px;
$container-border: 1px;

.difficulty-container {
  position: relative;

  width: $width;
  height: $height;

  border-width: $container-border;
  border-style: solid;

  box-sizing: content-box;

  &:hover {
    border: none;
  }

  &.active {
    border-bottom-width: $active-border-width;

    img {
      margin-top: $active-border-width - $container-border;
    }

    &:hover {
      border-bottom-width: $active-border-width;
    }
  }

  img {
    width: $width;
    height: $height;
    transform: scale($scale);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .difficulty-logo {
    position: relative;
    width: $width;
    height: $height;
  }

  .lobbies-count {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;

    box-sizing: border-box;
    text-align: center;

    font-family: 'Graduate', cursive;
  }
}
