@use '@angular/material' as mat;

@mixin gah-dashboard-difficulty-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .difficulty-container {
    background-color: mat.get-color-from-palette($primary, darker);
    border-color: mat.get-color-from-palette($accent);

    &:hover {
      background-color: mat.get-color-from-palette($primary, lighter);

      .lobbies-count {
        color: mat.get-color-from-palette($accent, lighter);

        background-color: rgba(
          $color: mat.get-color-from-palette($primary, darker),
          $alpha: 0.6
        );
      }
    }

    .lobbies-count {
      color: mat.get-color-from-palette($accent, lighter);

      background-color: rgba(
        $color: mat.get-color-from-palette($primary, darker),
        $alpha: 0.3
      );
    }
  }
}
