@use '@angular/material' as mat;

@import 'styles-reset';

@include mat.core();

@import './app/app-component.scss-theme.scss';
@import './app/auth//auth.component.scss-theme.scss';
@import './app/dashboard/dashboard.component.scss-theme.scss';
@import './app/dashboard/difficulty-topbar/difficulty/difficulty.component.scss-theme.scss';
@import './app/dashboard/difficulty-topbar/no-selection/no-selection.component.scss-theme.scss';
@import './app/dashboard/lobbies-board/no-lobbies/no-lobbies.component.scss-theme.scss';

@import './themes/dark-theme';

@mixin custom-components-theme($theme) {
  @include gah-app-component-theme($theme);
  @include gah-auth-component-theme($theme);

  @include gah-dashboard-component-theme($theme);
  @include gah-dashboard-difficulty-component-theme($theme);
  @include gah-dashboard-no-selection-component-theme($theme);

  @include gah-dashboard-no-lobbies-component-theme($theme);
}

.dark-theme {
  @include mat.all-component-themes($gah-dark-theme);
  @include custom-components-theme($gah-dark-theme);
}

@media screen and (min-width: 1024px) {
  :root {
    --difficulti-size: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --difficulti-size: 60px;
  }
}
