<ng-container *transloco="let t; read: 'dashboard.lobbies.active'">
  <ng-container *ngIf="lobby$ | async as lobby">
    <mat-accordion fxLayout="column">
      <mat-expansion-panel [expanded]="'true'">
        <mat-expansion-panel-header fxLayout="row">
          <mat-panel-title fxFlex>
            <b>{{ lobby.name }}</b>
          </mat-panel-title>
          <mat-panel-description fxFlex>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
              <div>
                <b>{{ t('statistics.region') }}:&nbsp;</b>
                {{ lobby.region | region }}
              </div>

              <mat-divider [vertical]="true"></mat-divider>

              <div>
                <b>{{ t('statistics.capacity') }}:&nbsp;</b>
                {{ lobby.users.length }} /
                {{ lobby.maxPlayers }}
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div>
                <b>{{ t('statistics.roles') }}:&nbsp;</b>
                <app-role-image
                  *ngFor="let user of lobby.users"
                  [role]="user.role"
                ></app-role-image>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-users-list
            [users]="lobby.users"
            [userId]="(userId$ | async)!"
            (onUserRoleChange)="roleLobbyChange($event)"
            (onUserRemove)="userLobbyRemove($event)"
          ></app-users-list>
        </ng-template>

        <mat-action-row>
          <button
            mat-flat-button
            color="accent"
            *ngIf="lobby.password"
            [cdkCopyToClipboard]="lobby.password"
          >
            {{ t('buttons.copy') }}
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="leaveLobby()"
            [disabled]="lobby.isStarted"
          >
            {{ t('buttons.leave') }}
          </button>
          <button
            mat-flat-button
            color="accent"
            *ngIf="isOwner$ | async"
            [disabled]="lobby.isStarted"
            (click)="startLobby()"
          >
            {{ t('buttons.start') }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-container>
