<ng-container *transloco="let t; read: 'dashboard.lobbies'">
  <div class="container" fxLayout="column" fxLayoutGap="10px">
    <app-active-lobby *ngIf="lobby$ | async"></app-active-lobby>

    <button
      *ngIf="!(lobby$ | async)"
      mat-flat-button
      class="create-lobby-button"
      (click)="openNewLobbyDialog()"
    >
      {{ t('buttons.create') }}
    </button>

    <mat-divider></mat-divider>

    <app-lobbies-list
      fxFlex
      [lobbies]="(lobbies$ | async) || []"
      (onLobbyJoin)="joinLobby($event)"
    ></app-lobbies-list>
  </div>
</ng-container>
