$scroll-width: 5px;

.container {
  height: calc(100vh - var(--difficulti-size));
  max-height: calc(100vh - var(--difficulti-size));
  width: 100vw;
  padding: 25px;

  app-lobbies-list {
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: $scroll-width;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cbcbcb;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #909090;
    }
  }
}
