<ng-container *transloco="let t; read: 'dashboard.lobbies.empty'">
  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="no-lobbies-text">
      {{ t('title') }}
    </div>
  </div>
</ng-container>
