<ng-container *transloco="let t; read: 'dashboard.lobbies.modals.create'">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <form
    [formGroup]="createLobbyForm"
    (submit)="onSubmit()"
    fxLayout="column"
    fxLayoutGap="15px"
  >
    <div mat-dialog-content fxLayout="column" fxLayoutGap="15px">
      <mat-form-field>
        <input
          matInput
          [placeholder]="t('fields.name.name')"
          [minlength]="validatorValues.name.minLength"
          [maxlength]="validatorValues.name.maxLength"
          formControlName="name"
        />
        <mat-error
          *ngIf="createLobbyForm.hasError('required', 'name')"
          [innerHTML]="t('fields.name.errors.required')"
        >
        </mat-error>
        <mat-error
          *ngIf="createLobbyForm.hasError('minlength', 'name')"
          [innerHTML]="
            t('fields.name.errors.minlength', {
              value: validatorValues.name.minLength - 1
            })
          "
        >
        </mat-error>
        <mat-error
          *ngIf="createLobbyForm.hasError('maxlength', 'name')"
          [innerHTML]="
            t('fields.name.errors.maxlength', {
              value: validatorValues.name.maxLength + 1
            })
          "
        >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t('fields.region.name') }} </mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions" [value]="region">
            {{ region | region }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [placeholder]="t('fields.players.name')"
          type="number"
          [min]="validatorValues.maxPlayers.min"
          [max]="validatorValues.maxPlayers.max"
          formControlName="maxPlayers"
        />
        <mat-error
          *ngIf="createLobbyForm.hasError('required', 'maxPlayers')"
          [innerHTML]="t('fields.players.errors.required')"
        >
        </mat-error>
        <mat-error
          *ngIf="createLobbyForm.hasError('min', 'maxPlayers')"
          [innerHTML]="t('fields.players.errors.min')"
        >
        </mat-error>
        <mat-error
          *ngIf="createLobbyForm.hasError('max', 'maxPlayers')"
          [innerHTML]="t('fields.players.errors.max')"
        >
        </mat-error>
      </mat-form-field>

      <section>
        <p>{{ t('fields.role.name') }} *</p>
        <mat-button-toggle-group formControlName="role" aria-label="Role">
          <mat-button-toggle *ngFor="let role of roles" [value]="role">
            <app-role-image [role]="role"></app-role-image>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>

    <div mat-dialog-actions fxLayout="column" fxLayoutGap="25px">
      <button
        mat-button
        mat-stroked-button
        type="submit"
        class="full-width"
        [disabled]="!createLobbyForm.valid"
      >
        {{ t('buttons.create') }}
      </button>
    </div>
  </form>
</ng-container>
