.steam-id {
  font-size: 10px !important;
}

mat-list-item {
  img[mat-list-icon] {
    object-fit: contain;
  }

  *.account-user {
    div {
      font-weight: bold;
    }
  }

  mat-icon {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}
