<ng-container *transloco="let t; read: 'dashboard.lobbies.active.players'">
  <mat-list>
    <div mat-subheader>{{ t('title') }}</div>
    <div
      *ngFor="let lobbyUser of users; let last = last"
      [class.account-user]="lobbyUser.userSteamId === userId"
    >
      <mat-list-item *ngIf="lobbyUser.userSteamId === userId">
        <img
          mat-list-icon
          [src]="'assets/roles/' + lobbyUser.role.toLowerCase() + '.png'"
        />

        <img mat-list-icon [src]="lobbyUser.user.imageUrl" />

        <div mat-line>
          {{ lobbyUser.user.name }}
          <mat-icon
            aria-hidden="false"
            aria-label="Edit user"
            [matMenuTriggerFor]="roleSelection"
            [matTooltip]="t('actions.edit.tooltip')"
            >edit</mat-icon
          >
        </div>

        <mat-menu #roleSelection="matMenu">
          <mat-button-toggle-group
            aria-label="Role"
            [value]="lobbyUser.role"
            (change)="onUserRoleChange.emit($event.value)"
          >
            <mat-button-toggle *ngFor="let role of roles" [value]="role">
              <app-role-image [role]="role"></app-role-image>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-menu>

        <div mat-line>
          <ng-container *ngIf="lobbyUser.isOwner">{{
            t('status.owner')
          }}</ng-container
          >&nbsp;
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="lobbyUser.userSteamId !== userId">
        <img
          mat-list-icon
          [src]="'assets/roles/' + lobbyUser.role.toLowerCase() + '.png'"
        />

        <img mat-list-icon [src]="lobbyUser.user.imageUrl" />

        <div mat-line>
          {{ lobbyUser.user.name }}

          <mat-icon
            *ngIf="isLobbyOwner"
            aria-hidden="false"
            aria-label="Edit user"
            [matTooltip]="t('actions.remove.tooltip')"
            (click)="onUserRemove.emit(lobbyUser.userSteamId)"
            >remove_circle</mat-icon
          >
        </div>

        <div mat-line>
          <ng-container *ngIf="lobbyUser.isOwner"
            >{{ t('status.owner') }} </ng-container
          >&nbsp;
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </mat-list>
</ng-container>
